html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	color: #EEEEEE;	
	background: #000000;
}

h1,
h2,
h3,
strong {
  color: #EEEEEE;
}

td {
	font-size: 12px;
	color: #EEEEEE;	
}

a {
	color: #FFFFFF;
  }

a:hover {
	color: #00ff00;
}

img {
	display: block;
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

.button {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 7px 7px;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
  }

.button:hover {
	background: #00ff00;
}

.playlistbutton {
	background-color: black;
	border: none;
	color: white;
	padding: 2px 2px;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	text-decoration: underline;
  }

.playlistbutton:hover {
	background: #00ff00;
	color: black;
}

.loginbutton {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 10px 35px;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

.loginbutton:hover {
	background: blue;
	color: black;
}

.reorderbutton {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 10px 35px;
	border-radius: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

.reorderbutton:hover {
	background: red;
}


.container {
	margin-left: 5%;
	width: 95%;
	height: 100%;
	background: #000000;
	margin: auto;
  }
  
.one {
	width: 30%;
	height: 100%;
	background:#000000;
	float: left;
	overflow: scroll;
}
  
.two {
	margin-left: 30%;
	height: 100%;
	background: #000000;
}

.text {
	margin-left:7px;
	margin-right:10px;
}


.overlay{
	position: absolute;
	width: 70%;
	height: 25%;
	top: 75%;
	left: 30%;
	right: 0;
	bottom: 0;
	z-index: 3;
	overflow: scroll;
}


.LogoOverlay {
	position: fixed;
	width: 10%;
	height: 10%;
	top: 2%;
	left: 88%;
	right: 2%;
	bottom: 88%;
	z-index: 2;
}

.footerOverlay {
	position: fixed;
	width: 20%;
	height: 20px;
	left: 5px;
	bottom: 5px;
	z-index: 2;
	font-size: 11px;
}

#trackString {
	position:absolute;                 
	bottom:0;                         
	left:0;                         
}

.singleColumn {
	position: absolute;
	width: 50%;
	left: 25%;
	right: 25%;
	overflow: scroll;
}
